@import "./variables.scss";

.nav {
  ul {
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $nav-bg;
  }

  img {
    width: 3rem;
  }

  li {
    list-style: none;
    position: relative;

    a {
      font-size: 1.1rem;
      color: $link;

      &:hover,
      &:active {
        color: $link-hover;
      }
    }
  }

  .hover-ani {
    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0%;
      border-bottom: 7px solid $link-hover;
      border-radius: 7px;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      &::after {
        width: 100%;
      }
    }
  }
}
