@import "./variables.scss";

.main-container {
  // width: 80%;
  // margin: 0 5%;

  .title-wrapper {
    position: relative;
  }

  .title {
    text-align: center;
    font-weight: 700;
    padding: 2rem;
    font-size: 4rem;
    margin-bottom: 0.5rem;

    background-image: linear-gradient(
      90deg,
      $gradient-intro1,
      $gradient-intro2
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 10%;
      width: 80%;
      border-bottom: 7px solid $link;
      border-radius: 7px;
    }
  }
}

.wrapper {
  // border: 1px solid snow;
  width: 80%;
  margin: 2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  > .project {
    width: 100%;
    padding: 1rem;
    border: 1px solid fuchsia;
    text-align: center;
  }
}
