@import "./variables.scss";
// $link: #69c3ff;
// $link-hover: rgb(255, 159, 242);
// $dark: #232323;
// $clear: #fefefe;

// $purple: rgb(183, 52, 165);
// $nav-bg: rgb(71, 0, 60);
// $bg-color: #111827;
// $project-bg: rgba(113, 236, 255, 0.8);

// $btn-bg: rgb(255, 130, 255);
// $btn-border: rgb(133, 45, 119);

// $gradient-intro1: rgb(35, 226, 255);
// $gradient-intro2: rgb(47, 95, 255);

// $gradient-name1: rgba(236, 114, 167, 1) 0%;
// $gradient-name2: rgba(69, 154, 255, 1) 100%;

.row-normal {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.project-wrapper {
  color: $bg-color;
  display: flex;
  border-radius: 1rem;
  text-align: center;
  gap: 1rem;

  .project-title {
    margin-bottom: 1rem;
  }

  .tech-stack-section {
    .tech-wrapper {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      flex-wrap: wrap;
      width: 80%;
      margin: 0 10%;
    }

    .stack-title {
      margin: 1rem 0 0.5rem 0;
      font-size: 1.2rem;
    }
  }

  .thumbnail-wrapper,
  .desc-section {
    width: 50%;
  }

  .thumbnail {
    border-radius: 1rem;
    width: 100%;
    min-height: 200px;
    height: 100%;
    object-fit: cover;
    border-right: 2px solid $project-bg;
    border-bottom: 2px solid $project-bg;
  }

  .desc-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $project-bg;
    border-radius: 1rem;
  }

  .links {
    margin-top: 0.5rem;
    justify-content: space-around;
    display: flex;
    align-items: center;
    // avoid whole overlay from moving itself on hover
    height: 36px;

    .link {
      font-weight: 700;
      display: flex;
      justify-content: center;
      min-width: 15ch;
      text-align: center;
    }

    img {
      width: 1.3rem;
    }
  }
}

// todo: change this to 900
// < 750px,
@media (max-width: 750px) {
  .project-wrapper {
    flex-direction: column-reverse;

    .thumbnail-wrapper,
    .desc-section {
      width: 100%;
    }

    > * {
      width: 100%;
      flex: 1;
    }

    .links {
      gap: 0.5rem;
      flex-direction: row;

      .link {
        width: 50%;
        min-width: 0;
      }
    }
  }
}
