@import "./variables.scss";
$purple: rgb(183, 52, 165);
$link: #69c3ff;
$link-hover: rgb(255, 159, 242);
$nav-bg: rgb(71, 0, 60);
$dark: #232323;
$clear: #fefefe;
$bg-color: #111827;

$btn-bg: rgb(255, 130, 255);
$btn-border: rgb(133, 45, 119);

.main-container {
  .title-wrapper {
    position: relative;
  }

  .title {
    text-align: center;
    font-weight: 700;
    padding: 2rem;

    font-size: 4rem;
    background: -webkit-linear-gradient(
      rgb(22, 127, 255) 0%,
      rgb(146, 212, 255) 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin-bottom: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 10%;
      width: 80%;
      border-bottom: 7px solid $link;
      border-radius: 7px;
    }
  }
}

.wrapper {
  // border: 1px solid snow;
  width: 80%;
  margin: 2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  > .project {
    width: 100%;
    padding: 1rem;
    border: 1px solid fuchsia;
    text-align: center;
  }
}
